/*------------
    RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
    GENERAL
-------------*/
.container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.container > *{
    border: dashed;
}
/*------------
    HEADER
-------------*/
header{
    background-color: #ADD8E6;
    padding: 12px;
}

.header-container{
    background-color: #DAA520;
}

.header-container > *{
    padding: 8px;
}

.logo{
    width: 25%;
}

nav{
    width: 50%;
    text-align: center;
}

.login{
    width: 25%;
}
/*------------
    MAIN
-------------*/
.hero{
    background-color: #02008B;
    min-height: 500px;
    padding: 50px;
}

.hero-img{
    width: 900px;
    min-height: 500px;
    background-color: #EE82EE;
    border: dashed;
    margin: auto;
}

.section{
    background-color: white;
    min-height: 600px;
    padding: 50px;
}

.section-img{
    background-color: #1E90FF;
    width: 60%;
    min-height: 500px;
}

.section-text{
    background-color: #FEC0CB;
    width: 40%;
    min-height: 500px;
}

.section-grey{
    background-color: #D3D3D3;
}

.last-section{
    background-color: #D3D3D3;
    min-height: 1000px;
    padding: 50px;
}

.last-section-img{
    width: 1200px;
    min-height: 900px;
    background-color: #228B22;
    border: dashed;
    margin: auto;
}
/*------------
    FOOTER
-------------*/
.info-section{
    background-color: #23272A;
    min-height: 630px;
    padding: 10px 0 40px;
}

.info{
    min-height: 575px;
}

.info-1{
    width: 30%;
    background-color: #F08080;
}

.info:not(.info-1){
    width: calc(70%/4);
    background-color: #20B2AA;
}

.footer-section{
    background-color: #23272A;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.special-container{
    margin-top: 30px;
    justify-content: space-between;
    background-color: #7FFFD4;
    padding: 20px 0;
}

.special-container > *{
    padding: 10px;
    background-color: #FEB6C1;
}





